<h1>New Project</h1>

<%= form_with model: @project, local: true do |form| %>
  <% if @project.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Create Project", class: "btn btn-primary mt-3" %>
  </div>
<% end %>

<%= link_to "Back to Projects", projects_path %>